<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://3.130.246.123/BaseServer</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://3.130.246.123:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>BaseServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>EC2AMAZ-5JJ342J/Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="False">
          <Destination Path="Data Source=EC2AMAZ-5JJ342J\AMAZONHOST;Initial Catalog=BaseServer;User ID=sa;Password=versat2019!" Name="Data Source=EC2AMAZ-5JJ342J\AMAZONHOST; Initial Catalog=BaseServer; User Id=sa;Password=versat2019!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-IS2EGN5\HECTOR2017;Initial Catalog=BaseServer;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-IS2EGN5\HECTOR2017; Initial Catalog=BaseServer; Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=EC2AMAZ-5JJ342J\AMAZONHOST; Initial Catalog=BaseServer; User Id=sa;Password=versat2019!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>