@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Visitors.Visitors.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BaseServer.Visitors.VisitorsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>