
@{
    ViewData["Title"] = "Front";
    ViewData["PageId"] = "Front";
    Layout = MVC.Views.Shared._Layout;
}


@section Head {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dustjs-linkedin/2.7.5/dust-full.min.js" async defer></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  


}

@*@section ContentHeader {
        <h1><small>Professional software developer since 2011</small></h1>
    }*@

    <row>
        <div class="LI-profile-badge col-md-4" data-version="v1" data-size="large" data-locale="es_ES" data-type="vertical" data-theme="light" data-vanity="hector-luis-duran-cruzata-b2302772"><a class="LI-simple-link" href='https://ar.linkedin.com/in/hector-luis-duran-cruzata-b2302772?trk=profile-badge'>Hector Luis Duran Cruzata</a></div>

        <div class="col-md-6">
            <p style="font-size:25px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Software engineer with passion for my work. <span style="color:darkcyan">Designing, writing and testing</span> software since 2011.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #0000ff;">public static void</span> Do()<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #0000ff;">try</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #0000ff;">do</span> { Code(); } <span style="color: #0000ff;">while</span> (music);<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #0000ff;">catch</span> (<span style="color: #008000;">Exception </span>exc)<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Log(exc.Reason);<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Relax();<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</p>


            <div><p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><span><strong>GitHub Repo:</strong> </span><a href="https://github.com/zeldax54"> <span>https://github.com/zeldax54</span></a></p></div>
            <div><p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><span><strong>Email:</strong> </span> <span>zeldax54@gmail.com</span></p></div>

        </div>
    </row><br>

