@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Data.TemperatureData.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BaseServer.Data.TemperatureDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>